@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Yesteryear&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #5044E5;
}

.reset-tw, .reset-tw *{
  all: revert !important
}

.cl-drawerRoot{
  z-index: 10;
}